name: Execucao_Diaria_Opcoes

on:
  workflow_dispatch: # Permite que você clique no botão para rodar agora
  schedule:
    - cron: '0 22 * * *' # Roda às 19:00 Horário de Brasília

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do codigo
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Instalar bibliotecas
        run: |
          pip install yfinance pandas

      - name: Executar Robo
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python script.py
