name: Execucao_Diaria_Opcoes

on:
  workflow_dispatch:
  schedule:
    - cron: '0 22 * * *' # 19:00 no horário de Brasília (UTC-3)

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install yfinance pandas

      - name: Executar Robô
        env:
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
        run: python script.py
